.card-container {
    text-decoration: none;
    color: black;
    // text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.image {
    height: 18em;
}
  
.child {
    flex: 1 0;
    margin: 20px;
  a {
      color: black;
      text-decoration: none;
  }
}

// .child a { 
//     color: black;
//     text-decoration: none;
// }
.inputOrder {
    color: rgb(21, 87, 191);
    background-color: white;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 2px;
    margin: 0.25rem 0.5rem;
    padding: 4px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 3.5rem;
}

// .addCard {
//     position: fixed;
//     bottom: 0
// }

.greycontainer {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%
}

// .addcartbutton {
//   background-color: red;
// }

.priceheart {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 1.5rem;
    margin-bottom: 3rem;
}