.form-group {
    margin-bottom: 0.75em;
    .form-error-message {
        color: red;
        display: flex;
        align-items: left;
        margin-bottom: 0;
    }
    .form-label {
        display: flex;
        align-items: left;
    }
}

img {
    width: 60%;
}

#register-image {
    width:665px;
    vertical-align: middle;
    object-fit: cover;
    // object-fit: cover !important;
    background: no-repeat fixed center;
}

