.maincard {
    display: flex;
    flex-direction: row
}

.seccard {   
    width: auto;
    display: inline-block;  
}

img {
    width: 20%; /* Will shrink image to 30% of its original width */
    height: auto;    
} 



